.searchBar {
  width: 10;
}

.searchInput {
  background-color: #ffffff;
  border-radius: 50px;
  width: 35rem;
}

.searchButton {
  background-color: #ffffff;
  border-radius: 50px;
  padding: 10px;
}

@media (max-width: 1470px) {
  .searchInput{
    width: 20rem;
  }
}

@media (max-width: 970px) {
  .searchInput{
    margin-bottom: 10px;
  }
} 

@media (max-width: 768px) {
  .searchInput{
    height: 3rem;
    margin-bottom: 10px;
  }
}

@media (max-width: 430px) {
  .searchInput{
    width: 16rem;
  }
}