.searchBar {
    flex-grow: 1;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .searchInput {
    background-color: #ffffff;
    border-radius: 50px;
    width: 100%;
  }
  
  .searchButton {
    background-color: #ffffff;
    border-radius: 50px;
    padding: 10px;
  }
  